import React from 'react'

import styles from './index.module.less'

interface I$componentNameProps {}

const $componentName: React.FC<I$componentNameProps> = React.memo(props => {
  return <div className={styles.container}>{props.children}</div>
})

export default $componentName